/* -- Global Selectors -- */
/* -- Mixins -- */
/* Link Hover */
/* Breakpoints */
/* -- Global Styles -- */
html {
  font-size: 16px;
  overflow-y: scroll;
}

/* border box on child elements

body>* {
    border-radius: 1px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
}
*/
body {
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: auto;
  background-color: #EEEEEE;
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
}

#page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  padding: 1em;
}

/* -- Header -- */
header {
  color: #1D252D;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5rem;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

header h1 {
  font-weight: 400;
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  text-align: left;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0;
  font-weight: 400;
}

header h2 {
  color: #858D94;
}

header a {
  text-decoration: none;
  width: 100%;
}

header a:hover {
  text-decoration: none;
  color: #1D252D;
}

button {
  font-size: 0.8em;
  font-family: inherit;
  border: 0;
  padding: 0;
  background-color: inherit;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

buttonfocus {
  outline: 0;
}

buttonactive {
  outline: 0;
  border: 0;
}

/* -- Navigation -- */
nav {
  margin-top: 2em;
}

nav span {
  font-weight: 400;
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  text-align: left;
}

nav .link {
  color: #858D94;
}

nav .title {
  font-weight: 300;
}

nav li {
  width: 100%;
}

/* -- Section -- */
section {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  height: auto;
  padding-top: 2em;
}

section .intro {
  width: 95%;
  height: auto;
}

section h1 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
  color: #858D94;
  padding-top: 0rem;
  padding-left: 0rem;
}

/* -- Article -- */
article .grid {
  height: auto;
  margin-top: 2em;
}

h1 span {
  color: #1D252D;
}

h1 a {
  text-decoration: none;
}

h1 a:hover {
  position: relative;
}

h1 a:hover:after {
  content: url(https://media.giphy.com/media/xT8qBhUUelhfFfl7Py/giphy.gif);
  /* no need for qoutes */
  display: block;
  position: absolute;
  left: 0px;
  /* change this value to one that suits you */
  top: -50px;
  /* change this value to one that suits you */
  right: 20px;
}

/* -- Grid -- */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid li {
  width: 33%;
  float: left;
  padding: 0.5rem 0.5em 0.5rem 0.5rem;
  opacity: 0;
  display: block;
}

.grid li.large {
  width: 66%;
}

.grid li a,
.grid li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}

@media only screen and (max-width: 1440px) {
  .grid-sizer,
  .grid li {
    width: 33%;
    float: left;
    padding: 0rem 1em 1rem 0rem;
    opacity: 0;
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-sizer,
  .grid li {
    width: 50%;
    float: left;
    padding: 0 1rem 1rem 0;
    opacity: 0;
    display: block;
  }
  .grid li.large {
    width: 50%;
    clear: both;
  }
  .grid li.medium {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  /* -- Section -- */
  header {
    display: none;
  }
  section {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: auto;
  }
  section h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 4rem;
    padding-top: 0rem;
    padding-left: 0rem;
  }
  .grid-sizer,
  .grid li {
    width: 100%;
    float: left;
    padding: 0.5rem 0 0.5rem 0;
    opacity: 0;
    display: block;
  }
  .grid li.large {
    width: 100%;
    clear: both;
  }
  .grid li.medium {
    width: 100%;
  }
}

/* Effect 4: fall perspective

  .grid.effect-1 li.animate {
	-webkit-animation: fadeIn 0.65s ease forwards;
	animation: fadeIn 0.65s ease forwards;
}

@-webkit-keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

@keyframes fadeIn {
	0% { }
	100% { opacity: 1; }
}

*/
.grid.effect-1 li.animate {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-animation: moveUp 1s ease forwards;
  animation: moveUp 1s ease forwards;
}

@-webkit-keyframes moveUp {
  0% {
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */