// Brand Colours ------------------------------

$text-white: #eee;
$bg-homepage:#eee;
$digital-navy:#1D252D;
$muted-grey: #858D94;

// Project Colours ------------------------------

$maso: #f40082;
$maso-light: #ff93cf;
$ajg:#74adde;
$ajg-light:#c1dff3;
$made: #223850;
$made-light: #a4afba;
$scenic: #c6a367;
$scenic-light: #ebdabf;
$wallace: #322a1d;
$wallace-light: #ADA9A4;
$wimbledon: #166938;
$wimbledon-light: #98c4ae;

// Mixins ------------------------------

@mixin font-weight-regular {
  font-weight: 400;
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
  text-align: left;
}

@mixin border($width: 1px, $color: $bg-homepage) {
  outline: $width solid $color;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
}

@mixin flex-space {
  display: flex;
  justify-content: space-between;
}

@mixin site-padding {
  padding: 2.5rem;
}

@mixin site-padding-tablet {
  padding: 2rem;
}

@mixin site-padding-mobile {
  padding: 1rem;
}

// Link Hover ------------------------------

@mixin link-hover-transition {
  transition: 200ms ease-out;
}

@mixin link-hover () {
  &:hover {
    @include link-hover-transition()
  }
  &:focus {
    @include link-hover-transition()
  }
}

// Text ------------------------------

@mixin text-styles {
  font-size: 2.75rem;
  line-height: 3.25rem;
  font-weight: 300;
  @include link-hover-transition()
}

@mixin text-styles-tablet {
  font-size: 2em;
  line-height: 2.5rem;
  font-weight: 300;
  @include link-hover-transition()
}

@mixin text-styles-mobile {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 300;
  @include link-hover-transition()
}

@mixin header-text {
  @include text-styles;
  color: $digital-navy;
}

@mixin menu-text {
  color: $text-white;
  @include text-styles;
}

@mixin cover-text {
  @include text-styles;
}

// Text Tablet ------------------------------

@mixin header-text-mobile {
  color: $digital-navy;
  @include text-styles-mobile();
  @include link-hover-transition();
}

@mixin cover-text-mobile {
  @include text-styles-mobile;
}

@mixin menu-text-mobile {
  @include text-styles-mobile();
}


// Text Mobile ------------------------------

@mixin header-text-tablet {
  color: $digital-navy;
  @include text-styles-tablet();
  @include link-hover-transition();
}

@mixin cover-text-tablet {
  @include text-styles-tablet;
}

@mixin menu-text-tablet {
  @include text-styles-tablet();
}


// Breakpoints ------------------------------

$breakpoint-desktop-hd: 1440px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 460px;

// Global Styles ------------------------------

html {
  font-size: 16px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  min-height: -webkit-fill-available;
}

/* border box on child elements

body>* {
    border-radius: 1px;
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.05);
}
*/

body {
  width: 100%;
  min-height: 100%;
  margin: auto;
  background-color: $bg-homepage;
  font-family: 'IBM Plex Sans', Helvetica, sans-serif;
}


.fourzerofour {
    background: linear-gradient(215deg, #a6c7eb, #f4a7d0);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 42s ease infinite;
    -moz-animation: AnimationName 42s ease infinite;
    animation: AnimationName 42s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:83% 0%}
    50%{background-position:18% 100%}
    100%{background-position:83% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:83% 0%}
    50%{background-position:18% 100%}
    100%{background-position:83% 0%}
}
@keyframes AnimationName {
    0%{background-position:83% 0%}
    50%{background-position:18% 100%}
    100%{background-position:83% 0%}
}

#page {
  width: 100%;
  margin: auto;
}

// Header ------------------------------

header {
  position: fixed;
  margin: auto;
  @include site-padding;
  width: 100%;
  z-index: 2;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
  height: 100%;

  .top {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

}

// Navigation ------------------------------

.header-text {

  h1 {
    @include header-text();
  }

  span {
    font-weight: 300;
    color: $muted-grey;
  }

  a {
    @include link-hover-transition()
  }

  a:hover,
  a:focus {
    color: $muted-grey;
    @include link-hover-transition();
  }
}

.right {

  span {
    @include header-text();
    font-weight: 300;
  }

  span:hover {
    color: $muted-grey;
    @include link-hover-transition();
  }

}

// Menu Navigation ------------------------------

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: $digital-navy;
  a {
    color: $text-white;
    @include link-hover-transition()
  }

  a:hover,
  a:focus {
    color: $muted-grey;
    @include link-hover-transition();
  }
}

.overlay-content {
  text-align: left;
  @include site-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  height: 100%;
  @include menu-text();

  a {
    color: $text-white;
    @include link-hover-transition()
  }

  a:hover,
  a:focus {
    color: $muted-grey;
    @include link-hover-transition();
  }
}

.overlay .closebtn {
  position: absolute;
  right: 0;
  top: 0;
  @include site-padding;
  @include menu-text();
}

.menu-list-other {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  @include menu-text();
  color: $text-white;
}


// Section ------------------------------

section {
  width: 100%;
  min-height: 100%;
  position: relative;
}

a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: left;
}

.flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
}

// Cover Section ------------------------------

.cover {
  min-height: 100vh;
  width: 100%;
  @include site-padding;
  min-height: -webkit-fill-available;
}

.cover-text {
  width: 50%;
  height: auto;


  h1 {
    @include cover-text();
  }

  p {
    @include cover-text();
  }
}

.cover-roles {
  display: inline-flex;
  margin-top: 1rem;

  h5 {
    padding-right: 2rem;
    color: $muted-grey;
    font-weight: 300;
  }

  span {
    font-size: 1rem;
    color: $digital-navy;
    padding-left: 0.25rem;
  }
}

// Project Navigation ------------------------------

.navigation-arrow {
  @include text-styles();
  font-weight: 300;
  text-align: right;
  margin-right: 0.5rem;

  a {
    @include link-hover-transition();
  }

  a:hover,
  a:focus {
    @include link-hover-transition();
  }
}

.navigation-arrow.down {

  a {
    @include link-hover-transition();
  }

  a:hover,
  a:focus {
    @include link-hover-transition();
  }
}

.navigation-arrow.up {
  color: $digital-navy;
  margin-bottom: -0.5rem;

  a {
    @include link-hover-transition();
  }
  a:hover {
    @include link-hover-transition();
  }
}

// Brand Text ------------------------------

.brand-text {

  h1 {
    color: $digital-navy;

    a {
      color: $digital-navy;
      @include link-hover-transition()
    }

    a:hover, a:focus {
      color: $muted-grey;
      @include link-hover-transition()
    }
  }

  p {
    color: $muted-grey;
  }
}

// Maso Section ------------------------------

.maso {
  background-color: $maso;
}

.maso-text {

  h1 {
    color: $text-white;
  }

  p {
    color: $maso-light;
  }
}

.maso-roles {

  h5 {
    color:$text-white;
  }

  span {
    color: $maso-light;
  }
}

.navigation-arrow.navigation-maso.down {
  color: #ff93cf;
  a:hover,
  a:focus {
    color: white;
  }
}

.navigation-arrow.navigation-maso.up {
  a:hover,
  a:focus {
    color: $maso;
  }
}

// Gallagher ------------------------------

.ajg {
  background-color: $ajg;
}

.ajg-text {

  h1 {
    color: $text-white;
  }

  p {
    color: $ajg-light;
  }
}

.ajg-roles {

  h5 {
    color:$text-white;
  }

  span {
    color: $ajg-light;
  }
}

.navigation-arrow.navigation-ajg.down {
  color: $ajg-light;
  a:hover,
  a:focus {
    color: white;
  }
}

.navigation-arrow.navigation-ajg.up {
  a:hover,
  a:focus {
    color: $ajg;
  }
}

// Made Section ------------------------------

.made {
  background-color: $made;
}

.made-text {

  h1 {
    color: $text-white;
  }

  p {
    color: $made-light;
  }
}

.made-roles {

  h5 {
    color: $text-white;
  }

  span {
    color: $made-light;
  }
}

.navigation-arrow.navigation-made.down {
  color: $made-light;
  a:hover,
  a:focus {
    color: white;
  }
}

.navigation-arrow.navigation-made.up {
  a:hover,
  a:focus {
    color: $made;
  }
}

// Scenic Section ------------------------------

.scenic {
  background-color: $scenic;
}

.scenic-text {

  h1 {
    color: $text-white;
  }

  p {
    color: $scenic-light;
  }
}

.scenic-roles {

  h5 {
    color: $text-white;
  }

  span {
    color: $scenic-light;
  }
}

.navigation-arrow.navigation-scenic.down {
  color: $scenic-light;
  a:hover,
  a:focus {
    color: white;
  }
}

.navigation-arrow.navigation-scenic.up {
  a:hover,
  a:focus {
    color: $scenic;
  }
}

// Wallace Section ------------------------------

.wallace {
  background-color: $wallace;
}

.wallace-text {

  h1 {
    color: $text-white;
  }

  p {
    color: $wallace-light;
  }
}

.wallace-roles {

  h5 {
    color: $text-white;
  }

  span {
    color: $wallace-light;
  }
}

.navigation-arrow.navigation-wallace.down {
  color: $wallace-light;
  a:hover,
  a:focus {
    color: white;
  }
}

.navigation-arrow.navigation-wallace.up {
  a:hover,
  a:focus {
    color: $wallace;
  }
}

// Wimbledon Section ------------------------------

.wimbledon {
  background-color: $wimbledon;
}

.wimbledon-text {

  h1 {
    color: $text-white;
  }

  p {
    color: $wimbledon-light;
  }
}

.wimbledon-roles {

  h5 {
    color: $text-white;
  }

  span {
    color: $wimbledon-light;
  }
}

.navigation-arrow.navigation-wimbledon.down {
  color: $wimbledon-light;
  a:hover,
  a:focus {
    color: white;
  }
}

.navigation-arrow.navigation-wimbledon.up {
  a:hover,
  a:focus {
    color: $wimbledon;
  }
}

// Project Cover Colours ------------------------------

.brand {
  background-color: $text-white;
}

.ajg {
  background-color: $ajg;
}

.made {
  background-color: $made;
}

.scenic {
  background-color: $scenic;
}

.wallace {
  background-color: $wallace;
}

.wimbledon {
  background-color: $wimbledon;
}

// Footer ------------------------------

.footer-text {
  width: 50%;
  height: auto;

  h1 {
    @include cover-text();
    color: $digital-navy;

    a {
      @include link-hover-transition();
    }

    a:hover,
    a:focus {
      color: $muted-grey;
      @include link-hover-transition();
    }
  }

  p {
    @include cover-text();
    color: $maso-light;
  }

}

// Homepage Grid ------------------------------

.main-container {
  margin-top: 0rem;
  z-index: 1;
  padding: 1rem;
  min-height: 100vh;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid li {
  width: 25%;
  float: left;
  padding: 1rem 1rem 1rem 1rem;
  opacity: 0;
  display: block;
  margin: auto;
}

.grid li.large {
  width: 100%;
}

.grid li.medium {
  width: 50%;
}

.grid li a,
.grid li img {
  outline: none;
  border: none;
  display: block;
  max-width: 100%;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
  opacity: 1;
}

@media only screen and (max-width: $breakpoint-desktop-hd) {

  .grid-sizer,
  .grid li {
    width: 33.333%;
    float: left;
    padding: 1rem 1rem 1rem 1rem;
    opacity: 0;
    display: block;
  }

  .grid li.large {
    width: 100%;
    clear: both;
  }

  .grid li.medium {
    width: 50%;
  }
}

@media only screen and (max-width: $breakpoint-desktop) {

  .grid-sizer,
  .grid li {
    width: 50%;
    float: left;
    padding: 1rem 1rem 1rem 1rem;
    opacity: 0;
    display: block;
  }

  .grid li.large {
    width: 100%;
    clear: both;
  }

  .grid li.medium {
    width: 50%;
  }
}

@media only screen and (max-width: $breakpoint-tablet) {

// Header ------------------------------

header {
  @include site-padding-tablet;
}

.header-text {

  h1 {
    @include header-text-tablet();
  }
}

.right {

  span {
    @include header-text-tablet();
  }
}

// Menu Navigation ------------------------------

.overlay-content {
  @include site-padding-tablet;
  @include menu-text-tablet();
}

.overlay .closebtn {
  @include site-padding-tablet;
  @include menu-text-tablet();
}

.menu-list-other {
  @include menu-text-tablet();
}


// Cover Section ------------------------------

.cover {
  width: 100%;
  @include site-padding-tablet;
}

.cover-text {
  width: 85%;
  height: auto;

  h1 {
    @include cover-text-tablet();
  }

  p {
    @include cover-text-tablet();
  }
}

.cover-roles {
  display: inline-flex;
  margin-top: 1rem;

  h5 {
    padding-right: 1.5rem;
  }

  span {
    font-size: 1rem;
    padding-left: 0.5rem;
  }
}

// Project Navigation ------------------------------

.navigation-arrow {
  @include text-styles-mobile();
  text-align: right;
  margin-right: 0.1rem;
}

.navigation-arrow.up {
  margin-bottom: -0.25rem;
}

}

@media only screen and (max-width: $breakpoint-mobile) {

// Header ------------------------------

header {
  @include site-padding-mobile;
}

.header-text {

  h1 {
    @include header-text-mobile();
  }
}

.right {

  span {
    @include header-text-mobile();
  }
}

// Menu Navigation ------------------------------

.overlay-content {
  @include site-padding-mobile;
  @include menu-text-mobile();
}

.overlay .closebtn {
  @include site-padding-mobile;
  @include menu-text-mobile();
}

.menu-list-other {
  @include menu-text-mobile();
}


// Cover Section ------------------------------

.cover {
  @include site-padding-mobile;
}

.cover-text {
  width: 100%;
  height: auto;

  h1 {
    @include cover-text-mobile();
  }

  p {
    @include cover-text-mobile();
  }
}

.cover-roles {
  display: inline-flex;
  margin-top: 0.75rem;

  h5 {
    padding-right: 1rem;
  }

  span {
    font-size: 0.75rem;
    padding-left: 0.25rem;
  }
}

// Project Navigation ------------------------------

.navigation-arrow {
  @include text-styles-mobile();
  text-align: right;
  margin-right: 0.1rem;
}

.navigation-arrow.up {
  margin-bottom: -0.25rem;
}

// Grid ------------------------------

  .grid-sizer,
  .grid li {
    width: 100%;
    float: left;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    opacity: 0;
    display: block;
  }

  .grid li.large {
    width: 100%;
    clear: both;
  }

  .grid li.medium {
    width: 100%;
  }

}

// Masonry Grid Animation ------------------------------

.grid.effect-1 li.animate {
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-animation: moveUp 1s ease forwards;
  animation: moveUp 1s ease forwards;
}

@-webkit-keyframes moveUp {
  0% {}

  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {}

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}